
body{
    margin: 0;
    font-family: sans-serif;
}

button{
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 9px 25px;
}


.hero{
    background-color: #1f2937;
    color: white;
    padding: 20px 100px;
}


.nav{
    display:flex;
    justify-content: space-between;
}

a{
color: white;
}

.logo{
    align-self: flex-start;    
    width: 150px;
    margin-top: -20px;
}

ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: flex-start;
}

.hero-content{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
    gap: 40px;
}

.hero-text{
    align-self: center; 
    max-width: 500px;
}

.header-img{
    max-width:500px;
}

.hero-button{
    border: none
}


p{
    font-size: 16px;
    font-weight: lighter;
}

.headline{
    font-size: 48px;
    font-weight: bolder;
}

.info{
    color:black;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px 50px 100px;
    text-align: center;
}

.info-imgs{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.subtext{
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    gap: 40px;

}

.subtext-p{
    width: 150px;
}

.quotes{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 90px 300px;
}

.author{
    align-self: flex-end;
}


.words{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 25px;
    font-weight:lighter;
    max-width: 600px;
}


.name{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.cta{
    padding: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.blue-box{
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    border-radius: 10px;
    min-width: 900px;
    max-width: 900px;
}

.cta-btn{
    align-self: center;
}

.cta-text{
    width: 500px;
}

.footer{
    background-color: #1f2937;
    color:white;
    display: flex;
    justify-content: center;
}
